* {
    border-radius: 10px;
}
.headers {
    font-family: "Brush Script MT", cursive;
    color: white;
    padding: 1.5%;
    margin-bottom: 1%;
}

h1.headers{
    font-size: 40px;
    background-color: brown;
}
h2.headers{
    font-size: 30px;
    background-color: rgb(159, 87, 87);
    margin-top: 0%;
    margin-right: 10%;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0%;
}

.content {
    background-color: antiquewhite;
    padding: 2px;
}
